<a href="https://colab.research.google.com/github/Bigote93/DataInsider/blob/main/DesafioDataInsider_Nalli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#(0) Conexion con Drive

* Daremos acceso al drive del proyecto
* Crearemos un archivo de venv para almacenar la variables de este entorno

In [135]:
#Aplicar el llamado de almacenamiento

from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [136]:
#Instalamos el colav con las variables de entorno
!pip install colab-env --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: colab-env in /usr/local/lib/python3.10/dist-packages (0.2.0)
Requirement already satisfied: python-dotenv<1.0,>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from colab-env) (0.21.1)

In [137]:
#Importamos la libreria
import colab_env
from colab_env import envvar_handler

!more drive/My\ Drive/vars.env

COLAB_ENV = Active


colab_env.envvar_handler.add_env("TEST", "HELLO WORLD!", overwrite=True)

!more /content/drive/My\ Drive/vars.env

# (1) Se incorpora los datasets desde Forbes y ciudades


* https://data.world/aroissues/forbes-global-2000-2008-2019
* https://caelum-online-public.s3.amazonaws.com/challenge_data_insider/fortune_global_500.zip
* https://caelum-online-public.s3.amazonaws.com/challenge_data_insider/continentes_y_paises.zip

# (2) Carga de datasets

Se cargara los datos desde la documentacion mediante variables de analisis. Se utilizara metodos de creacion de datasets de la libreria Pandas.

* Importar libreria Pandas
* Se hara una iniciacion de variables de forma dinamica por cada excel
* Se manejara por excepciones la asignacion interna de DataFrames

In [138]:
import pandas as pd

In [435]:
# Cargar los archivos de Excel Forbes de forma dinamica con el metodo global() desde 2000 a 200xx
forbes_datasets = []
forbes_datasets_names = []

for year in range(2008, 2023):
    filename = f"/content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - {year} — unified industry.xlsx"

    try:
        data = pd.read_excel(filename)
        variable_name = f"forbesglobal2000_{year}"
        forbes_datasets_names.append(variable_name)
        globals()[variable_name] = data
        print(f"Archivo cargado correctamente: {filename}")
        forbes_datasets.append(globals()[variable_name])

    except Exception as e:
        print(f"Error al cargar el archivo: {filename}")
        print(str(e))

#Las variables seran de la forma: forbesglobal2000_20xx
forbesglobal2000_2018

Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2008 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2009 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2010 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2011 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2012 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2013 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2014 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2015 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2016 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2017 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2018 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2019 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2020 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2021 — unified industry.xlsx
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/aroissues-forbes-global-2000-2008-2019/Forbes Global 2000 - 2022 — unified industry.xlsx

,Rank_nr,Company,Industry,Country,Sales,Profits,Assets,Market_Value
0,1,ICBC,Banking,China,165338.0,43669.4,4210927.0,311014.0
1,2,China Construction Bank,Banking,China,143202.0,37203.1,3631583.0,261166.0
2,3,JPMorgan Chase,Banking,United States,118180.0,26496.0,2609785.0,387668.0
3,4,Berkshire Hathaway,Diversified Financials,United States,235165.0,39742.0,702651.0,491888.0
4,5,Agricultural Bank of China,Banking,China,129345.0,29638.7,3439314.0,184125.0
...,...,...,...,...,...,...,...,...
1995,1996,Fabege AB,Construction,Sweden,281.0,873.7,7482.0,3932.0
1996,1996,SEI Investments,Diversified Financials,United States,1572.0,455.5,1894.0,10177.0
1997,1996,Sumec Corporation,Capital Goods,China,11287.0,54.9,6930.0,1205.0
1998,1999,BioMarin Pharmaceutical,Drugs & Biotechnology,United States,1400.0,-144.9,4597.0,15623.0
1999,1999,China Agri-Industries,Chemicals,Hong Kong,11274.0,260.7,8614.0,2220.0

* Ahora para cargar los datos de fortune_global_20xx debemos usar un webscrapping para extraer datos desde tablas desde documentos html.

In [140]:
from bs4 import BeautifulSoup

In [334]:
# Cargar los archivos de HTML Fortune de forma dinamica con el metodo global() desde 2015 a 2022

ruta_fortune_base = ruta_base = '/content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_'

fortune_datasets = []
fortunes_datasets_names = []

# Cargar las páginas y crear las variables dinamicamente
for year in range(2015, 2023):
    try:
        filename = f"{ruta_base}{year}.html"
        variable_name = f"fortune_global_{year}"
        fortunes_datasets_names.append(variable_name)
        data = pd.read_html(filename)[0]
        globals()[variable_name] = data
        fortune_datasets.append(globals()[variable_name])
        print(f"Archivo cargado correctamente: {filename}")
    except Exception as e:
        print(f"Error al cargar el archivo: {filename}")
        print(str(e))

#Las variables seran de la forma: forbesglobal2000_20xx
fortune_global_2017

Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2015.html
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2016.html
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2017.html
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2018.html
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2019.html
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2020.html
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2021.html
Archivo cargado correctamente: /content/drive/MyDrive/DesafioDataInsiderNalli/fortune_global_500/fortune_global_2022.html

,RemoveRank,RemoveName,RemoveRevenues ($M),RemoveRevenue Percent Change,RemoveProfits ($M),RemoveAssets ($M),RemoveProfits Percent Change,RemoveEmployees,RemoveChange in Rank
0,1,Walmart,"$485,873",0.8%,"$13,643","$198,825",-7.2%,2300000,-
1,2,State Grid,"$315,199",-4.4%,"$9,571.3","$489,838",-6.2%,926067,-
2,3,Sinopec Group,"$267,518",-9.1%,"$1,257.9","$310,726",-65%,713288,1
3,4,China National Petroleum,"$262,573",-12.3%,"$1,867.5","$585,619",-73.7%,1512048,-1
4,5,Toyota Motor,"$254,694",7.7%,"$16,899.3","$437,575",-12.3%,364445,3
...,...,...,...,...,...,...,...,...,...
495,496,Teva Pharmaceutical Industries,"$21,903",11.5%,$329,"$92,890",-79.3%,56960,-
496,497,New China Life Insurance,"$21,796",-13.3%,$743.9,"$100,609",-45.6%,54378,-70
497,498,Wm. Morrison Supermarkets,"$21,741",-11.3%,$406.4,"$11,630",20.4%,77210,-61
498,499,TUI,"$21,655",-5.5%,"$1,151.7","$16,247",195.5%,66779,-32
499,500,AutoNation,"$21,609",3.6%,$430.5,"$10,060",-2.7%,26000,-


* Ahora cargamos de manera individual los archivos dataset de continente y country debido a su irregularidad de valores.

In [436]:
continente = pd.read_csv('/content/drive/MyDrive/DesafioDataInsiderNalli/continentes_y_paises/continente.csv')
country_code = pd.read_csv('/content/drive/MyDrive/DesafioDataInsiderNalli/continentes_y_paises/country_code.csv')
country_code.head(10)

               Country Code
0          Afghanistan  AFG
1              Albania  ALB
2              Algeria  DZA
3       American Samoa  ASM
4              Andorra  AND
5               Angola  AGO
6             Anguilla  AIA
7  Antigua and Barbuda  ATG
8            Argentina  ARG
9              Armenia  ARM

# (3) Incluir API polygon.io

* Importamos la api y la instalamos en nuestro cuadernillo

In [143]:
!pip install polygon-api-client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polygon-api-client
  Downloading polygon_api_client-1.10.1-py3-none-any.whl (39 kB)
Requirement already satisfied: certifi<2023.0.0,>=2022.5.18 in /usr/local/lib/python3.10/dist-packages (from polygon-api-client) (2022.12.7)
Requirement already satisfied: urllib3<2.0.0,>=1.26.9 in /usr/local/lib/python3.10/dist-packages (from polygon-api-client) (1.26.15)
Collecting websockets<12.0,>=10.3 (from polygon-api-client)
  Downloading websockets-11.0.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.9/129.9 kB 11.4 MB/s eta 0:00:00
Installing collected packages: websockets, polygon-api-client
Successfully installed polygon-api-client-1.10.1 websockets-11.0.3

In [144]:
from polygon import RESTClient
##from local_settings import polygon as settings

* Cargamos la key de la api

In [145]:
api_key_poligon = 'oL6MR8Fv34GnmLw44bXgp0I62pWmLPm1'

* Ahora inicializamos como cliente utilizando nuestra key de la API

In [146]:
client = RESTClient(api_key=api_key_poligon)
client

#(4)Importaremos los datos historicos .

1. Apple INC (AAPL)
2. Netflix INC (NFLX)
3. Microsoft Corporation (MSFT)
4. Amazon (AMZN)
5. Meta Platforms INC (META)

Luego creamos la funcion que aplicara en cada extraccion de datos

**Utilizamos la guia de : https://github.com/polygon-io/client-python**

In [147]:
#------Amazon------#
ticker = "AMZN"
aggs = []
for a in client.list_aggs(ticker=ticker, multiplier=1, timespan="minute", from_="2022-01-01", to="2022-12-31", limit=50000):
    aggs.append(a)

AMZN = pd.DataFrame(aggs)
AMZN_datafilter = AMZN.loc[:,['open','high','low','close','timestamp']]

In [149]:
#-----Apple INC -----#
ticker = "AAPL"
aggs = []
for a in client.list_aggs(ticker=ticker, multiplier=1, timespan="minute", from_="2022-01-01", to="2022-12-31", limit=50000):
    aggs.append(a)

AAPL = pd.DataFrame(aggs)
AAPL_datafilter = AAPL.loc[:,['open','high','low','close','timestamp']]

In [150]:
#-----Microsoft CorporatioN-----#
ticker = "MSFT"
aggs = []
for a in client.list_aggs(ticker=ticker, multiplier=1, timespan="minute", from_="2022-01-01", to="2022-12-31", limit=50000):
    aggs.append(a)

MSFT = pd.DataFrame(aggs)
MSFT_datafilter = MSFT.loc[:,['open','high','low','close','timestamp']]

In [151]:
#-----Meta Platforms INC-----#
ticker = "META"
aggs = []
for a in client.list_aggs(ticker=ticker, multiplier=1, timespan="minute", from_="2022-01-01", to="2022-12-31", limit=50000):
    aggs.append(a)

META_FB = pd.DataFrame(aggs)
META_FB_datafilter = META_FB.loc[:,['open','high','low','close','timestamp']]

In [152]:
#-----Netflix INC-----#
ticker = "NFLX"
aggs = []
for a in client.list_aggs(ticker=ticker, multiplier=1, timespan="minute", from_="2022-01-01", to="2022-12-31", limit=50000):
    aggs.append(a)

NFLX = pd.DataFrame(aggs)
NFLX_datafilter = NFLX.loc[:,['open','high','low','close','timestamp']]

#(4.1) Metodo solo si se tiene conexion premium

> Esta configuracion de variables globales solo se utiliza si no se sobrepasa la creacion de consultas en polygon.io debido a los limites que tiene la cuenta Free que ofrece.




```
tickers = ["AAPL", "GOOGL", "MSFT", "FB"]

for ticker in tickers:
    aggs = []
    for a in client.list_aggs(ticker=ticker, multiplier=1, timespan="minute", from_="2022-01-01", to="2022-06-13", limit=50000):
        aggs.append(a)
    df = pd.DataFrame(aggs)
    filtered_data = df.loc[:, ['open', 'high', 'low', 'close', 'timestamp']]
    globals()[ticker] = filtered_data
```

* Se cambia la variable timestamp a registro fecha

In [153]:
dataframes_ticker = [
    AMZN_datafilter,
    AAPL_datafilter,
    MSFT_datafilter,
    META_FB_datafilter,
    NFLX_datafilter
]

for dataframes in dataframes_ticker:
  dataframes['timestamp'] = pd.to_datetime(dataframes['timestamp'], unit='ms')

* Ahora transformamos los dataframes a documento CSV y se almacenaran en la carpeta Historicos:

>> /content/drive/MyDrive/DesafioDataInsiderNalli/Historicos

In [154]:
dataframe_name = [
    'AMZN_datafilter',
    'AAPL_datafilter',
    'MSFT_datafilter',
    'META_FB_datafilter',
    'NFLX_datafilter'
]


for dataframes, dataframe_name in zip(dataframes_ticker, dataframe_name):
  ruta_historico_dt = f'/content/drive/MyDrive/DesafioDataInsiderNalli/Historicos/{dataframe_name}.csv'
  dataframes.to_csv(ruta_historico_dt, index=False)

In [157]:
NFLX_datafilter

          open    high     low   close           timestamp
0       604.88  604.88  604.88  604.88 2022-01-03 10:52:00
1       604.70  605.00  604.70  605.00 2022-01-03 13:00:00
2       604.89  604.89  604.89  604.89 2022-01-03 13:19:00
3       604.51  604.51  604.51  604.51 2022-01-03 13:30:00
4       605.00  605.00  605.00  605.00 2022-01-03 13:33:00
...        ...     ...     ...     ...                 ...
130343  295.07  295.07  295.00  295.00 2022-12-31 00:51:00
130344  295.45  295.45  295.20  295.20 2022-12-31 00:54:00
130345  295.44  295.44  295.44  295.44 2022-12-31 00:56:00
130346  295.74  295.74  295.74  295.74 2022-12-31 00:58:00
130347  295.70  295.70  295.63  295.63 2022-12-31 00:59:00

[130348 rows x 5 columns]

#(5) Data Wrangling

Debemos hacer lo siguiente a los dataset de Forbes Global 2000:

1. Cambiar el nombre de columnas segun el siguiente detalle

* Company -> Empresa
* Country -> Pais
* Industry -> Industria
* Sales -> Ingresos
* Profits -> Ganancias
* Assets -> Activos
* Market_Value -> Valor de mercado



2.  Generar tres columnas a cada dataframe

* Margen de Rentabilidad: Ganancias/Ingresos
* Rentabilidad de los Activos (ROA): Ganancias/Activos
* Año: Segun el nombre de cada dataset

In [437]:
#Traimos de vuelta el array de los forbes forbes_datasets y hacemos el cambio directo a cada dataframe

for forbes_dataframe in forbes_datasets:
  forbes_dataframe.rename(columns={'Company':'Empresa'}, inplace=True)
  forbes_dataframe.rename(columns={'Country':'Pais'}, inplace=True)
  forbes_dataframe.rename(columns={'Industry':'Industria'}, inplace=True)
  forbes_dataframe.rename(columns={'Sales':'Ingresos'}, inplace=True)
  forbes_dataframe.rename(columns={'Profits':'Ganancias'}, inplace=True)
  forbes_dataframe.rename(columns={'Assets':'Activos'}, inplace=True)
  forbes_dataframe.rename(columns={'Market_Value':'Valor de Mercado'}, inplace=True)


forbesglobal2000_2022

,Rank_nr,Empresa,Industria,Pais,Ingresos,Ganancias,Activos,Valor de Mercado
0,1,Berkshire Hathaway,Diversified Financials,United States,276094,89795.0,958784,741476
1,2,ICBC,Banking,China,208127,54028.3,5518508,214425
2,3,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,400376,105363.0,576041,2292077
3,4,JPMorgan Chase,Diversified Financials,United States,124542,42115.0,3954687,374446
4,5,China Construction Bank,Banking,China,202069,46887.3,4746951,181325
...,...,...,...,...,...,...,...,...
1995,1995,Shenzhen Feima International Supply Chain,Business Services & Supplies,China,37,1408.3,166,1136
1996,1997,NMDC,Materials,India,3520,1406.4,5715,6401
1997,1997,Sichuan Changhong Electric,Consumer Durables,China,15716,53.1,12105,1957
1998,1999,Satellite Chemical,Chemicals,China,4413,931.3,7640,9521
1999,2000,Sun Communities,Diversified Financials,United States,2273,375.7,13494,21714

In [438]:
#Generamos las dos columnas de Margen de Rentabilida y ROA.
#Luego una columna con los años recorriendo cada elemento del array forbes_datasets_names
#Extraeremos por cadena desde la posicion 17 a la -1

for names_dataset, forbes_dataframe in zip(forbes_datasets_names,forbes_datasets):
  forbes_dataframe['Margen de Rentabilidad'] = forbes_dataframe.Ganancias / forbes_dataframe.Ingresos
  forbes_dataframe['ROA'] = forbes_dataframe.Ganancias / forbes_dataframe.Activos
  forbes_dataframe['Año'] = names_dataset[17:]

forbesglobal2000_2022

,Rank_nr,Empresa,Industria,Pais,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año
0,1,Berkshire Hathaway,Diversified Financials,United States,276094,89795.0,958784,741476,0.325233,0.093655,2022
1,2,ICBC,Banking,China,208127,54028.3,5518508,214425,0.259593,0.009790,2022
2,3,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,400376,105363.0,576041,2292077,0.263160,0.182909,2022
3,4,JPMorgan Chase,Diversified Financials,United States,124542,42115.0,3954687,374446,0.338159,0.010649,2022
4,5,China Construction Bank,Banking,China,202069,46887.3,4746951,181325,0.232036,0.009877,2022
...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,Shenzhen Feima International Supply Chain,Business Services & Supplies,China,37,1408.3,166,1136,38.062162,8.483735,2022
1996,1997,NMDC,Materials,India,3520,1406.4,5715,6401,0.399545,0.246089,2022
1997,1997,Sichuan Changhong Electric,Consumer Durables,China,15716,53.1,12105,1957,0.003379,0.004387,2022
1998,1999,Satellite Chemical,Chemicals,China,4413,931.3,7640,9521,0.211036,0.121898,2022
1999,2000,Sun Communities,Diversified Financials,United States,2273,375.7,13494,21714,0.165288,0.027842,2022

#(5.1) A los datasets de Fortune Global 500 le aplicaremos:

1. Cambiar el nombre de las columnas:

* RemoveName -> Empresa
* RemoveEmployees -> Empleados

2. Incorporar una columna para el año

3. Extraer del dataframe solo las columnas Empresa, Empleados y Año

In [338]:
#Incorporamos el cambio de nombre de las columnas de cada dataframe de Fortune
#Luego se incorpora al arreglo auxiliar datasetux que almacenara la extraccion de las columnas de interes del dataframe

datasetux = []

for fortunes_datasets_name, fortune_dataset in zip(fortunes_datasets_names,fortune_datasets):
  fortune_dataset.rename(columns={'RemoveName': 'Empresa', 'RemoveEmployees':'Empleados'}, inplace=True)
  fortune_dataset['Año'] = fortunes_datasets_name[15:]
  fortune_dataset = fortune_dataset[['Empresa','Empleados','Año']]
  datasetux.append(fortune_dataset)

In [339]:
#Se eliminan todas las columnas del dataframe original y se asigna el nuevo dataframe columna por columna

for fortune_dataset, datasetaux in zip(fortune_datasets, datasetux):
  fortune_dataset.drop(fortune_dataset.columns, axis=1, inplace=True)
  fortune_dataset['Empresa'] = datasetaux['Empresa']
  fortune_dataset['Empleados'] = datasetaux['Empleados']
  fortune_dataset['Año'] = datasetaux['Año']

#(6) A los dataset de country_code y continente se le aplicara:

1. Renombrar los nombres de columnas de country de la forma:

* Country -> Nombre de Pais
* Code -> Codigo

2. Renombrar los nombres de la columna de continentes de la forma:

* Continent_Name -> Nombre continente
* Continent_Code -> Codigo Continente
* Three_Letter_Country_Code -> Codigo Pais
* Country_Name -> Nombre de Pais

In [439]:
country_code.rename(columns={'Country':'Nombre de Pais', 'Code':'Codigo'}, inplace=True)

In [440]:
continente.rename(columns={
    'Continent_Name':'Nombre Continente',
    'Continent_Code':'Codigo Continente',
    'Three_Letter_Country_Code': 'Codigo Pais',
    'Country_Name': 'Nombre de Pais'}, inplace=True)

continente

,Nombre Continente,Codigo Continente,Codigo Pais,Nombre de Pais
0,Asia,AS,AFG,"Afghanistan, Islamic Republic of"
1,Europe,EU,ALB,"Albania, Republic of"
2,Antarctica,AN,ATA,Antarctica (the territory South of 60 deg S)
3,Africa,AF,DZA,"Algeria, People's Democratic Republic of"
4,Oceania,OC,ASM,American Samoa
...,...,...,...,...
253,South America,SA,VEN,"Venezuela, Bolivarian Republic of"
254,Oceania,OC,WLF,Wallis and Futuna
255,Oceania,OC,WSM,"Samoa, Independent State of"
256,Asia,AS,YEM,Yemen
257,Africa,AF,ZMB,"Zambia, Republic of"

#(7) Juncion de tablas y analisis exploratorio

Antes de realizar los merges entre "Country_code" se reviso el dataset y se compara con el "Forbes2022" para ver si existen registros en las columnas a realizar merges "Pais" y "Nombre de pais" que necesiten modificacion antes de realizarlo

In [441]:
paisses_with_comma = []
for nombre_pais in country_code['Nombre de Pais']:
  if ', ' in nombre_pais:
    paisses_with_comma.append(nombre_pais)

paisses_with_comma

['Bahamas, The',
 'Congo, Democratic Republic of the',
 'Congo, Republic of the',
 'Gambia, The',
 'Korea, North',
 'Korea, South',
 'Micronesia, Federated States of']

In [442]:
paises_nombre = ['Bahamas','Congo','Gambia','Korea','Micronesia']
coincidencias_pais = []

for nombre_comma in paises_nombre:

  for pais in forbesglobal2000_2022['Pais'].unique():

    if str(nombre_comma) in str(pais):
      coincidencias_pais.append(pais)

coincidencias_pais

['South Korea']

* De los paises que presentan coincidencias de nombres desde la posible merge entre country_code y forbes 2022 solo se evidencia la presencia de South Korea. Por lo que haremos el cambio de nombre del registro en la ficha de Country_code de "Korea, South" a "South Korea" para el merge correcto.

* Ademas incluiremos un cambio de cada registro en el orden que quede sin commas y nombre original para futuros modificaciones de los tipos de registros de forbes

In [443]:
country_code["Nombre de Pais"] = country_code["Nombre de Pais"].apply(lambda x: ' '.join(reversed(x.split(', '))).replace(",", "") if ', ' in x else x)
country_code.head(10)

        Nombre de Pais Codigo
0          Afghanistan    AFG
1              Albania    ALB
2              Algeria    DZA
3       American Samoa    ASM
4              Andorra    AND
5               Angola    AGO
6             Anguilla    AIA
7  Antigua and Barbuda    ATG
8            Argentina    ARG
9              Armenia    ARM

In [444]:
#Verificamos el cambio
any(country_code['Nombre de Pais'] == 'South Korea')

True

Ahora veremos que continentes son unicos en el dataframe de continente y si existen algunos continentes que no tienen codigo

In [445]:
continente_cod_name = continente[['Nombre Continente','Codigo Continente']].drop_duplicates()

continente_cod_name

   Nombre Continente Codigo Continente
0               Asia                AS
1             Europe                EU
2         Antarctica                AN
3             Africa                AF
4            Oceania                OC
7      North America               NaN
10     South America                SA

In [446]:
#Agregamos entonces a continente la modificacion de asignar a North America el codigo NA
continente.loc[continente['Nombre Continente'] == 'North America', 'Codigo Continente'] = 'NA'

In [447]:
#Verificamos el cambio
continente[['Nombre Continente','Codigo Continente']].drop_duplicates()

   Nombre Continente Codigo Continente
0               Asia                AS
1             Europe                EU
2         Antarctica                AN
3             Africa                AF
4            Oceania                OC
7      North America                NA
10     South America                SA

Realizado lo anterior. realizamos el merge

In [448]:
#Hacemos el merge considerando outer para aquellos paises que no tienen empresas o empresas que no tienen pais
forbesglobal2000_2022 = forbesglobal2000_2022.merge(country_code, how = 'outer', left_on ='Pais', right_on='Nombre de Pais')

forbesglobal2000_2022

,Rank_nr,Empresa,Industria,Pais,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año,Nombre de Pais,Codigo
0,1,Berkshire Hathaway,Diversified Financials,United States,276094.0,89795.0,958784.0,741476.0,0.325233,0.093655,2022,United States,USA
1,4,JPMorgan Chase,Diversified Financials,United States,124542.0,42115.0,3954687.0,374446.0,0.338159,0.010649,2022,United States,USA
2,6,Amazon,Retailing,United States,469822.0,33364.0,420549.0,1468398.0,0.071014,0.079334,2022,United States,USA
3,7,Apple,Technology Hardware & Equipment,United States,378697.0,100555.0,381191.0,2640316.0,0.265529,0.263792,2022,United States,USA
4,9,Bank of America,Banking,United States,96826.0,30995.0,3238223.0,303102.0,0.320110,0.009572,2022,United States,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands,VGB
2161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Bank,WBG
2162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yemen,YEM
2163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zambia,ZMB
2164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,ZWE

In [449]:
continente_with_comma = []
for nombre_pais in continente['Nombre de Pais']:
  if ', ' in nombre_pais:
    continente_with_comma.append(nombre_pais)

continente_with_comma

['Afghanistan, Islamic Republic of',
 'Albania, Republic of',
 "Algeria, People's Democratic Republic of",
 'Andorra, Principality of',
 'Angola, Republic of',
 'Azerbaijan, Republic of',
 'Azerbaijan, Republic of',
 'Argentina, Argentine Republic',
 'Australia, Commonwealth of',
 'Austria, Republic of',
 'Bahamas, Commonwealth of the',
 'Bahrain, Kingdom of',
 "Bangladesh, People's Republic of",
 'Armenia, Republic of',
 'Armenia, Republic of',
 'Belgium, Kingdom of',
 'Bhutan, Kingdom of',
 'Bolivia, Republic of',
 'Botswana, Republic of',
 'Brazil, Federative Republic of',
 'Bulgaria, Republic of',
 'Myanmar, Union of',
 'Burundi, Republic of',
 'Belarus, Republic of',
 'Cambodia, Kingdom of',
 'Cameroon, Republic of',
 'Cape Verde, Republic of',
 'Sri Lanka, Democratic Socialist Republic of',
 'Chad, Republic of',
 'Chile, Republic of',
 "China, People's Republic of",
 'Colombia, Republic of',
 'Comoros, Union of the',
 'Congo, Republic of the',
 'Congo, Democratic Republic of the',
 'Costa Rica, Republic of',
 'Croatia, Republic of',
 'Cuba, Republic of',
 'Cyprus, Republic of',
 'Cyprus, Republic of',
 'Benin, Republic of',
 'Denmark, Kingdom of',
 'Dominica, Commonwealth of',
 'Ecuador, Republic of',
 'El Salvador, Republic of',
 'Equatorial Guinea, Republic of',
 'Ethiopia, Federal Democratic Republic of',
 'Eritrea, State of',
 'Estonia, Republic of',
 'Fiji, Republic of the Fiji Islands',
 'Finland, Republic of',
 'France, French Republic',
 'Djibouti, Republic of',
 'Gabon, Gabonese Republic',
 'Gambia, Republic of the',
 'Palestinian Territory, Occupied',
 'Germany, Federal Republic of',
 'Ghana, Republic of',
 'Kiribati, Republic of',
 'Greece, Hellenic Republic',
 'Guatemala, Republic of',
 'Guinea, Republic of',
 'Guyana, Co-operative Republic of',
 'Haiti, Republic of',
 'Honduras, Republic of',
 'Hong Kong, Special Administrative Region of China',
 'Hungary, Republic of',
 'Iceland, Republic of',
 'India, Republic of',
 'Indonesia, Republic of',
 'Iran, Islamic Republic of',
 'Iraq, Republic of',
 'Israel, State of',
 'Italy, Italian Republic',
 "Cote d'Ivoire, Republic of",
 'Kazakhstan, Republic of',
 'Kazakhstan, Republic of',
 'Jordan, Hashemite Kingdom of',
 'Kenya, Republic of',
 "Korea, Democratic People's Republic of",
 'Korea, Republic of',
 'Kuwait, State of',
 'Lebanon, Lebanese Republic',
 'Lesotho, Kingdom of',
 'Latvia, Republic of',
 'Liberia, Republic of',
 'Liechtenstein, Principality of',
 'Lithuania, Republic of',
 'Luxembourg, Grand Duchy of',
 'Macao, Special Administrative Region of China',
 'Madagascar, Republic of',
 'Malawi, Republic of',
 'Maldives, Republic of',
 'Mali, Republic of',
 'Malta, Republic of',
 'Mauritania, Islamic Republic of',
 'Mauritius, Republic of',
 'Mexico, United Mexican States',
 'Monaco, Principality of',
 'Moldova, Republic of',
 'Montenegro, Republic of',
 'Morocco, Kingdom of',
 'Mozambique, Republic of',
 'Oman, Sultanate of',
 'Namibia, Republic of',
 'Nauru, Republic of',
 'Nepal, State of',
 'Netherlands, Kingdom of the',
 'Bonaire, Sint Eustatius and Saba',
 'Vanuatu, Republic of',
 'Nicaragua, Republic of',
 'Niger, Republic of',
 'Nigeria, Federal Republic of',
 'Norway, Kingdom of',
 'Northern Mariana Islands, Commonwealth of the',
 'Micronesia, Federated States of',
 'Marshall Islands, Republic of the',
 'Palau, Republic of',
 'Pakistan, Islamic Republic of',
 'Panama, Republic of',
 'Papua New Guinea, Independent State of',
 'Paraguay, Republic of',
 'Peru, Republic of',
 'Philippines, Republic of the',
 'Poland, Republic of',
 'Portugal, Portuguese Republic',
 'Guinea-Bissau, Republic of',
 'Timor-Leste, Democratic Republic of',
 'Puerto Rico, Commonwealth of',
 'Qatar, State of',
 'Rwanda, Republic of',
 'Saint Kitts and Nevis, Federation of',
 'San Marino, Republic of',
 'Sao Tome and Principe, Democratic Republic of',
 'Saudi Arabia, Kingdom of',
 'Senegal, Republic of',
 'Serbia, Republic of',
 'Seychelles, Republic of',
 'Sierra Leone, Republic of',
 'Singapore, Republic of',
 'Vietnam, Socialist Republic of',
 'Slovenia, Republic of',
 'Somalia, Somali Republic',
 'South Africa, Republic of',
 'Zimbabwe, Republic of',
 'Spain, Kingdom of',
 'Sudan, Republic of',
 'Suriname, Republic of',
 'Swaziland, Kingdom of',
 'Sweden, Kingdom of',
 'Switzerland, Swiss Confederation',
 'Tajikistan, Republic of',
 'Thailand, Kingdom of',
 'Togo, Togolese Republic',
 'Tonga, Kingdom of',
 'Trinidad and Tobago, Republic of',
 'Tunisia, Tunisian Republic',
 'Turkey, Republic of',
 'Turkey, Republic of',
 'Uganda, Republic of',
 'Macedonia, The Former Yugoslav Republic of',
 'Egypt, Arab Republic of',
 'Guernsey, Bailiwick of',
 'Jersey, Bailiwick of',
 'Tanzania, United Republic of',
 'Uruguay, Eastern Republic of',
 'Uzbekistan, Republic of',
 'Venezuela, Bolivarian Republic of',
 'Samoa, Independent State of',
 'Zambia, Republic of']

Sin embargo, como el merge lo realizaremos mediante el codigo de pais, esta modificacion de su escritura no es relevante, por lo que sera eliminada Pais.

In [450]:
#Hacemos el segundo merge

forbesglobal2000_2022 = forbesglobal2000_2022.merge(continente, how = 'outer', left_on = 'Codigo', right_on='Codigo Pais' )

forbesglobal2000_2022

,Rank_nr,Empresa,Industria,Pais,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año,Nombre de Pais_x,Codigo,Nombre Continente,Codigo Continente,Codigo Pais,Nombre de Pais_y
0,1,Berkshire Hathaway,Diversified Financials,United States,276094.0,89795.0,958784.0,741476.0,0.325233,0.093655,2022,United States,USA,North America,NA,USA,United States of America
1,4,JPMorgan Chase,Diversified Financials,United States,124542.0,42115.0,3954687.0,374446.0,0.338159,0.010649,2022,United States,USA,North America,NA,USA,United States of America
2,6,Amazon,Retailing,United States,469822.0,33364.0,420549.0,1468398.0,0.071014,0.079334,2022,United States,USA,North America,NA,USA,United States of America
3,7,Apple,Technology Hardware & Equipment,United States,378697.0,100555.0,381191.0,2640316.0,0.265529,0.263792,2022,United States,USA,North America,NA,USA,United States of America
4,9,Bank of America,Banking,United States,96826.0,30995.0,3238223.0,303102.0,0.320110,0.009572,2022,United States,USA,North America,NA,USA,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,EU,SJM,Svalbard & Jan Mayen Islands
2232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,TKL,Tokelau
2233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,TCA,Turks and Caicos Islands
2234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,VIR,United States Virgin Islands
2235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,WLF,Wallis and Futuna

In [451]:
#Generamos la asignacion de los valores NaN a Sin empresa en la columna Rank_nr
forbesglobal2000_2022['Rank_nr'].fillna("Sin empresa", inplace = True)

#Verificamos los valores unicos de cada Rank_nr y si existen valores string o boolean
for valores in forbesglobal2000_2022['Rank_nr'].unique():
  if type(valores) == str:
    print(f'Existen valores de tipo string. Estos son: "{valores}"')
  if type(valores) == bool:
    print(f'Existen valores de tipo boolean. Estos son: "{valores}"')

#Cambiamos los valores de Rank_nr de aquellos que son True por 0
forbesglobal2000_2022['Rank_nr'] = forbesglobal2000_2022['Rank_nr'].replace('True', 0)

forbesglobal2000_2022

Existen valores de tipo string. Estos son: "True"
Existen valores de tipo string. Estos son: "Sin empresa"

,Rank_nr,Empresa,Industria,Pais,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año,Nombre de Pais_x,Codigo,Nombre Continente,Codigo Continente,Codigo Pais,Nombre de Pais_y
0,1,Berkshire Hathaway,Diversified Financials,United States,276094.0,89795.0,958784.0,741476.0,0.325233,0.093655,2022,United States,USA,North America,NA,USA,United States of America
1,4,JPMorgan Chase,Diversified Financials,United States,124542.0,42115.0,3954687.0,374446.0,0.338159,0.010649,2022,United States,USA,North America,NA,USA,United States of America
2,6,Amazon,Retailing,United States,469822.0,33364.0,420549.0,1468398.0,0.071014,0.079334,2022,United States,USA,North America,NA,USA,United States of America
3,7,Apple,Technology Hardware & Equipment,United States,378697.0,100555.0,381191.0,2640316.0,0.265529,0.263792,2022,United States,USA,North America,NA,USA,United States of America
4,9,Bank of America,Banking,United States,96826.0,30995.0,3238223.0,303102.0,0.320110,0.009572,2022,United States,USA,North America,NA,USA,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,EU,SJM,Svalbard & Jan Mayen Islands
2232,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,TKL,Tokelau
2233,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,TCA,Turks and Caicos Islands
2234,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,VIR,United States Virgin Islands
2235,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,WLF,Wallis and Futuna

In [452]:
#Verificamos que todos los valores de rank_nr sean enteros
forbesglobal2000_2022['Rank_nr'].dtype

dtype('O')

In [453]:
#Buscamos aquellos registros de Forbes que no tienen asignado un registro de country_code
registro_forbes_country = []

for pais_colum, nombre_pais_x in zip(forbesglobal2000_2022['Pais'], forbesglobal2000_2022['Nombre de Pais_x']):
  if str(pais_colum) not in str(nombre_pais_x):
    registro_forbes_country.append(pais_colum)

print(list(set(registro_forbes_country)))

[21274, nan]

In [454]:
#Traemos el registro "21274" para identificar si es relevante o un dano no valido
forbesglobal2000_2022.loc[forbesglobal2000_2022['Pais'] == '21274'] #Si es string,
forbesglobal2000_2022.loc[forbesglobal2000_2022['Pais'] == 21274] #Si es numerico

,Rank_nr,Empresa,Industria,Pais,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año,Nombre de Pais_x,Codigo,Nombre Continente,Codigo Continente,Codigo Pais,Nombre de Pais_y
1988,0,fred/companies/F2K/2022/105837,IT Software & Services,21274,28636.0,370.0,1468.0,632.0,0.012921,0.252044,2022,NaN,NaN,NaN,NaN,NaN,NaN

In [455]:
#Lo eliminamos debido al ser una empresa no identificable

forbesglobal2000_2022 = forbesglobal2000_2022.drop(forbesglobal2000_2022[forbesglobal2000_2022['Pais'] == 21274].index) #Si es string
forbesglobal2000_2022 = forbesglobal2000_2022.drop(forbesglobal2000_2022[forbesglobal2000_2022['Pais'] == 21274].index) #Si es numerico

#Traemos el registro "21274" para identificar si ha sido eliminado
forbesglobal2000_2022.loc[forbesglobal2000_2022['Pais'] == '21274'] #Si es string,
forbesglobal2000_2022.loc[forbesglobal2000_2022['Pais'] == 21274] #Si es numerico

Empty DataFrame
Columns: [Rank_nr, Empresa, Industria, Pais, Ingresos, Ganancias, Activos, Valor de Mercado, Margen de Rentabilidad, ROA, Año, Nombre de Pais_x, Codigo, Nombre Continente, Codigo Continente, Codigo Pais, Nombre de Pais_y]
Index: []

In [456]:
forbesglobal2000_2022

,Rank_nr,Empresa,Industria,Pais,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año,Nombre de Pais_x,Codigo,Nombre Continente,Codigo Continente,Codigo Pais,Nombre de Pais_y
0,1,Berkshire Hathaway,Diversified Financials,United States,276094.0,89795.0,958784.0,741476.0,0.325233,0.093655,2022,United States,USA,North America,NA,USA,United States of America
1,4,JPMorgan Chase,Diversified Financials,United States,124542.0,42115.0,3954687.0,374446.0,0.338159,0.010649,2022,United States,USA,North America,NA,USA,United States of America
2,6,Amazon,Retailing,United States,469822.0,33364.0,420549.0,1468398.0,0.071014,0.079334,2022,United States,USA,North America,NA,USA,United States of America
3,7,Apple,Technology Hardware & Equipment,United States,378697.0,100555.0,381191.0,2640316.0,0.265529,0.263792,2022,United States,USA,North America,NA,USA,United States of America
4,9,Bank of America,Banking,United States,96826.0,30995.0,3238223.0,303102.0,0.320110,0.009572,2022,United States,USA,North America,NA,USA,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,EU,SJM,Svalbard & Jan Mayen Islands
2232,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,TKL,Tokelau
2233,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,TCA,Turks and Caicos Islands
2234,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,VIR,United States Virgin Islands
2235,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,WLF,Wallis and Futuna

Ahora veririficamos en el dataset de continente si existen paises con coma para verificar datos escritos incorrectamente

In [457]:
#Eliminamos la columna Nombre_Pais_x e Nombre_Pais_y ya que usaremos como referencia la columna Pais
forbesglobal2000_2022.drop(['Nombre de Pais_x','Pais'], axis = 1, inplace = True)

#Eliminamos la columna codigo ya que usaremos como referencia la columna Codigo Pais
forbesglobal2000_2022.drop('Codigo', axis = 1, inplace = True)

forbesglobal2000_2022

,Rank_nr,Empresa,Industria,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año,Nombre Continente,Codigo Continente,Codigo Pais,Nombre de Pais_y
0,1,Berkshire Hathaway,Diversified Financials,276094.0,89795.0,958784.0,741476.0,0.325233,0.093655,2022,North America,NA,USA,United States of America
1,4,JPMorgan Chase,Diversified Financials,124542.0,42115.0,3954687.0,374446.0,0.338159,0.010649,2022,North America,NA,USA,United States of America
2,6,Amazon,Retailing,469822.0,33364.0,420549.0,1468398.0,0.071014,0.079334,2022,North America,NA,USA,United States of America
3,7,Apple,Technology Hardware & Equipment,378697.0,100555.0,381191.0,2640316.0,0.265529,0.263792,2022,North America,NA,USA,United States of America
4,9,Bank of America,Banking,96826.0,30995.0,3238223.0,303102.0,0.320110,0.009572,2022,North America,NA,USA,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,EU,SJM,Svalbard & Jan Mayen Islands
2232,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,TKL,Tokelau
2233,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,TCA,Turks and Caicos Islands
2234,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,NA,VIR,United States Virgin Islands
2235,Sin empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,OC,WLF,Wallis and Futuna

In [458]:
forbesglobal2000_2022.describe

<bound method NDFrame.describe of           Rank_nr             Empresa                        Industria  \
0               1  Berkshire Hathaway           Diversified Financials
1               4      JPMorgan Chase           Diversified Financials
2               6              Amazon                        Retailing
3               7               Apple  Technology Hardware & Equipment
4               9     Bank of America                          Banking
...           ...                 ...                              ...
2231  Sin empresa                 NaN                              NaN
2232  Sin empresa                 NaN                              NaN
2233  Sin empresa                 NaN                              NaN
2234  Sin empresa                 NaN                              NaN
2235  Sin empresa                 NaN                              NaN

      Ingresos  Ganancias    Activos  Valor de Mercado  \
0     276094.0    89795.0   958784.0          741476.0
1     124542.0    42115.0  3954687.0          374446.0
2     469822.0    33364.0   420549.0         1468398.0
3     378697.0   100555.0   381191.0         2640316.0
4      96826.0    30995.0  3238223.0          303102.0
...        ...        ...        ...               ...
2231       NaN        NaN        NaN               NaN
2232       NaN        NaN        NaN               NaN
2233       NaN        NaN        NaN               NaN
2234       NaN        NaN        NaN               NaN
2235       NaN        NaN        NaN               NaN

      Margen de Rentabilidad       ROA   Año Nombre Continente  \
0                   0.325233  0.093655  2022     North America
1                   0.338159  0.010649  2022     North America
2                   0.071014  0.079334  2022     North America
3                   0.265529  0.263792  2022     North America
4                   0.320110  0.009572  2022     North America
...                      ...       ...   ...               ...
2231                     NaN       NaN   NaN            Europe
2232                     NaN       NaN   NaN           Oceania
2233                     NaN       NaN   NaN     North America
2234                     NaN       NaN   NaN     North America
2235                     NaN       NaN   NaN           Oceania

     Codigo Continente Codigo Pais              Nombre de Pais_y
0                   NA         USA      United States of America
1                   NA         USA      United States of America
2                   NA         USA      United States of America
3                   NA         USA      United States of America
4                   NA         USA      United States of America
...                ...         ...                           ...
2231                EU         SJM  Svalbard & Jan Mayen Islands
2232                OC         TKL                       Tokelau
2233                NA         TCA      Turks and Caicos Islands
2234                NA         VIR  United States Virgin Islands
2235                OC         WLF             Wallis and Futuna

[2235 rows x 14 columns]>

* Ahora ordenamos de manera ascendente las empresas para ver si existen empresas con nombres duplicados o por escritura estan escritos de manera similar

In [459]:
#Verificamos valores que no sean string para poder despues transformarlos a string y hacer la orden alfabetica

for valores in forbesglobal2000_2022['Empresa'].unique():
  if type(valores) == float:
    print(f'Existen valores de tipo float. Estos son: "{valores}"')
  if type(valores) == bool:
    print(f'Existen valores de tipo boolean. Estos son: "{valores}"')
  if type(valores) == int:
    print(f'Existen valores de tipo int. Estos son: "{valores}"')

Existen valores de tipo float. Estos son: "nan"

In [462]:
#Cambiamos los valores NaN a valores 'Empresa sin nombre'

forbesglobal2000_2022['Empresa'].fillna('Sin empresa', inplace = True)
forbesglobal2000_2022['Industria'].fillna('Sin empresa', inplace = True)
forbesglobal2000_2022['Ingresos'].fillna('Sin empresa', inplace = True)
forbesglobal2000_2022['Ganancias'].fillna('Sin empresa', inplace = True)
forbesglobal2000_2022['Activos'].fillna('Sin empresa', inplace = True)
forbesglobal2000_2022['Valor de Mercado'].fillna('Sin empresa', inplace = True)
forbesglobal2000_2022['Margen de Rentabilidad'].fillna('Sin empresa', inplace = True)
forbesglobal2000_2022['ROA'].fillna('Sin empresa', inplace = True)

#Verificamos nuevamente valores que no sean string

for valores in forbesglobal2000_2022['Empresa'].unique():
  if type(valores) == float:
    print(f'Existen valores de tipo float. Estos son: "{valores}"')
  if type(valores) == bool:
    print(f'Existen valores de tipo boolean. Estos son: "{valores}"')
  if type(valores) == int:
    print(f'Existen valores de tipo int. Estos son: "{valores}"')

In [463]:
forbesglobal2000_2022

,Rank_nr,Empresa,Industria,Ingresos,Ganancias,Activos,Valor de Mercado,Margen de Rentabilidad,ROA,Año,Nombre Continente,Codigo Continente,Codigo Pais,Nombre de Pais_y
0,1,Berkshire Hathaway,Diversified Financials,276094.0,89795.0,958784.0,741476.0,0.325233,0.093655,2022,North America,NA,USA,United States of America
1,4,JPMorgan Chase,Diversified Financials,124542.0,42115.0,3954687.0,374446.0,0.338159,0.010649,2022,North America,NA,USA,United States of America
2,6,Amazon,Retailing,469822.0,33364.0,420549.0,1468398.0,0.071014,0.079334,2022,North America,NA,USA,United States of America
3,7,Apple,Technology Hardware & Equipment,378697.0,100555.0,381191.0,2640316.0,0.265529,0.263792,2022,North America,NA,USA,United States of America
4,9,Bank of America,Banking,96826.0,30995.0,3238223.0,303102.0,0.32011,0.009572,2022,North America,NA,USA,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,NaN,Europe,EU,SJM,Svalbard & Jan Mayen Islands
2232,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,NaN,Oceania,OC,TKL,Tokelau
2233,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,NaN,North America,NA,TCA,Turks and Caicos Islands
2234,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,NaN,North America,NA,VIR,United States Virgin Islands
2235,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,Sin empresa,NaN,Oceania,OC,WLF,Wallis and Futuna